.criarVideo{
    width: 100%;
    height: 90%;
    background: rgba(26, 25, 25, 0.9);
}

.titulo{
    margin: 0;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: #f5f5f5;
    margin-bottom: 2%;
}

.campoInputs{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    width: 90%;
    height: 8%;
    margin-bottom: 1.5%;
    background: rgba(83, 88, 93, 1);
    color: #ffffff;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding-left: 1%;
    border-bottom: 3px solid rgba(42, 122, 228, 1);
}

.descricao{
    width: 90%;
    height: 15%;
    margin-bottom: 3%;
    background: rgba(83, 88, 93, 1);
    color: #ffffff;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding-left: 1%;
    border-bottom: 3px solid rgba(42, 122, 228, 1);
    resize: none;
}

.inputCodigoSeguranca{
    width: 90%;
    height: 8%;
    margin-bottom: 1.5%;
    background: rgba(83, 88, 93, 1);
    color: #ffffff;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding-left: 1%;
    border-bottom: 3px solid rgba(42, 122, 228, 1);
}

.campoBotao{
    width: 91%;
    display: flex;
    height: 12%;
    align-items: center;
}

.botaoSalvar{
    width: 15%;
    margin-right: 5%;
    height: 80%;
    background: rgba(42, 122, 228, 1);
    border: none;
    border-radius: 4px;
    color: #f5f5f5;
    font-size: 22px;
    cursor: pointer;
}

.botaoLimpar{
    width: 15%;
    height: 80%;
    border: none;
    border-radius: 4px;
    background: rgba(158, 158, 158, 1);
    font-size: 22px;
    margin-right: 50%;
    cursor: pointer;
}

.botaoCategoria{
    width: 15%;
    height: 80%;
    background: rgba(42, 122, 228, 1);
    border: none;
    border-radius: 4px;
    color: #f5f5f5;
    font-size: 22px;
    cursor: pointer;
}


@media (max-width: 480px){
    .titulo{
        font-size: 25px;
        margin-bottom: 12%;
        padding-top: 2%;
    }

    .inputs{
        width: 85%;
        height: 8%;
        margin-bottom: 4.5%;
    }

    .descricao{
        width: 85%;
        margin-bottom: 4.5%;
    }

    .inputCodigoSeguranca{
        width: 85%;
    }

    .campoBotao{
        height: 10%;
        margin-top: 10%;
    }

    .botaoSalvar{
        width: 22%;
        font-size: 18px;
        margin-left: 3%;
    }

    .botaoLimpar{
        width: 22%;
        font-size: 18px;
        margin-right: 5%;
    }

    .botaoCategoria{
        width: 22%;
        width: 40%;
        font-size: 18px;
    }
}